<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="once_send_coupon_code_after_subscription"
                type="YuriiZh\Newsletter\Plugin\Magento\Newsletter\Model\SubscriberPlugin"
                sortOrder="1" disabled="false"/>
    </type>
</config>
